
    .container {
         max-width: 760px;
          margin: 40px auto;
           padding: 20px;
            font-family: "system-ui, Arial";
             display: flex;
              flex-direction: column; 
              align-items: center; 
            }

    .title { 
        font-size: 38px; margin: 0 0 8px; 
         color: #f5f3f3;
          margin-bottom: 20px; 
        }

        .titleCard { 
        font-size: 38px; margin: 0 0 8px; 
         color: #0e0000;
          margin-bottom: 20px; 
        }

        .image{
            border-radius: 8px;
            margin-bottom: 5px;
        }


        .content { 
        padding: 20px;
    }
        
    .lead { 
        margin: 0 0 20px; 
        color: #555; 
    }

    .card { 
        background: #fff; 
        padding: 16px; 
        border-radius: 8px; 
        box-shadow: 0 1px 3px rgba(0,0,0,0.06); 
        display: flex; 
        flex-direction: row; 
        margin-bottom: 20px;  
    }

    .actions { 
        margin-top: 36px; 
        display: flex; 
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .button { 
        background: #0070f3; 
        color: #fff; 
        border: none; 
        padding: 10px 16px; 
        border-radius: 4px; 
        cursor: pointer; 
        font-size: 16px; 
        transition: background 0.3s;
        &:hover { 
            background: #005bb5; 
        }
        

    }

    .input { 
        width: 100%; 
        padding: 8px; 
        margin-top: 4px; 
        margin-bottom: 12px; 
        border-radius: 4px; 
        border: 1px solid #ccc; 
        font-size: 16px; 
    }
    .textarea { 
        width: 100%; 
        height: 100px; 
        padding: 8px; 
        margin-top: 4px; 
        margin-bottom: 12px; 
        border-radius: 4px; 
        border: 1px solid #ccc; 
        font-size: 16px; 
    }
    .select { 
        width: 100%; 
        padding: 8px; 
        margin-top: 4px; 
        margin-bottom: 12px; 
        border-radius: 4px; 
        border: 1px solid #ccc; 
        font-size: 16px; 
    }
    .success { 
        margin-top: 10px; 
        color: green; 
    }
    .error { 
        margin-top: 10px; 
        color: crimson; 
    }
