
.main {
  padding: 24px;
  font-family: "Inter, system-ui, sans-serif";
  background-color: #121212;
  align-items: center;
    display: flex;
    flex-direction: column;
}
.section {
    display: flex;
    flex-direction: row;
  padding: 20px;
  max-width: 900px;
  margin-top: 40px;
  text-align: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid rgba(24, 202, 233, 0.1);
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: #0c6cd1 0px 4px 14px;
}

.title {
  margin: 0 0 12px;
  font-size: 29px;
  color: #fff;
}


.buttonLink {
  display: inline-block;
  padding: 10px 16px;
  background: #0f9d58;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.buttonLink:hover {
    background-color: #0c7c43;
    transition: background-color 0.3s ease-in-out;
}

.description {
  margin: 0 0 20px;
  color: #fff;
  line-height: 1.5;
}

.featureList {
  margin-top: 20px;
  padding-left: 20px;
  color: #fff;
}

.textContainer {
  flex: 1 1 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 12px;
}


.infoText {
  color: #fffefe;
  line-height: 1.5;
}










.textContainer {
  flex: 1 1 320px;
}


.infoSection {
  max-width: 900px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 24px;
    background-color: #1e1e1e;
  border-radius: 10px;
  border: 2px solid rgba(24, 202, 233, 0.1);
  box-shadow: #0c6cd1 0px 4px 14px;
}



@media (max-width: 768px) {
  .section {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .imageContainer, .textContainer {
    flex: none;
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }
}













