.main {
  padding: 24px;
  padding-top: 100px;
  font-family: "Inter, system-ui, sans-serif";
  background-color: #121212;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: row;
  padding: 30px;
  max-width: 1100px;
  margin-top: 40px;
  text-align: center;
  justify-content: center;
  gap: 40px;
  border: 2px solid rgba(24, 202, 233, 0.1);
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: #0c6cd1 0px 4px 14px;
}

.title {
  margin: 0 0 12px;
  font-size: 29px;
  color: #fff;
}

.buttonVisit {
  display: inline-block;
  padding: 10px 16px;
  background: #0f9d58;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.buttonVisit:hover {
  background-color: #0c7c43;
  transition: background-color 0.3s ease-in-out;
}

.buttonRequest {
  display: inline-block;
  padding: 10px 16px;
  background: #18cae9;
  color: #121212;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.buttonRequest:hover {
  background-color: #14a8c2;
  transition: background-color 0.3s ease-in-out;
}

.descriptionText {
  margin: 0 0 20px;
  color: #fff;
  line-height: 1.5;
}

.textContainer {
  flex: 1 1 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.iframeWrapper {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: 2px solid rgba(24, 202, 233, 0.2);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.iframeMockup {
  width: 100%;
  height: 100%;
  border: none;
}

.infoText {
  color: #fffefe;
  line-height: 1.5;
}

.infoSection {
  max-width: 1100px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 24px;
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 2px solid rgba(24, 202, 233, 0.1);
  box-shadow: #0c6cd1 0px 4px 14px;
}

.nav {
  margin-top: 20px;
  color: #18cae9;
  text-decoration: none;
  font-weight: 600;
}

.nav:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .section {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .imageContainer,
  .textContainer {
    flex: none;
    width: 100%;
  }

  .iframeWrapper {
    max-width: 100%;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .section {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .imageContainer,
  .textContainer {
    flex: none;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .descriptionText {
    font-size: 14px;
  }
}